// --- HOMEPAGE FRAMES --- //

.frame-0 {
    border: 20px solid;
    border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
    border-image-slice: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50vw - 19px);
}

.frame-1 {
    border: 20px solid;
    border-image: linear-gradient(to right, #b861c6 0%,#ffc7c7 100%);
    border-image-slice: 1;
    top: 20px;
    bottom: 20px;
    left: 20px;
    width: calc(50vw - 59px);
}

.frame-2 {
    border: 20px solid;
    border-image: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
    border-image-slice: 1;
    top: 40px;
    bottom: 40px;
    left: 40px;
    width: calc(50vw - 99px);
}

.frame-3 {
    border: 20px solid;
    border-image: linear-gradient(to right, #aa076b, #61045f);
    border-image-slice: 1;
    top: 60px;
    bottom: 60px;
    left: 60px;
    width: calc(50vw - 139px);
}

.frame-4 {
    border: 20px solid;
    border-image: linear-gradient(to right, #e65c00, #f9d423);
    border-image-slice: 1;
    top: 80px;
    bottom: 80px;
    left: 80px;
    width: calc(50vw - 179px);
}

.frame-5 {
    border: 20px solid;
    border-image: linear-gradient(to right, #acb6e5, #86fde8);
    border-image-slice: 1;
    top: 100px;
    bottom: 100px;
    left: 100px;
    width: calc(50vw - 219px);
}

.frame-6 {
    border: 20px solid;
    border-image: linear-gradient(to left, #dd3e54, #6be585);
    border-image-slice: 1;
    top: 120px;
    bottom: 120px;
    left: 120px;
    width: calc(50vw - 259px);
}

.frame-7 {
    border: 20px solid;
    border-image: linear-gradient(to left, #c6ffdd, #fbd786, #f7797d);
    border-image-slice: 1;
    top: 140px;
    bottom: 140px;
    left: 140px;
    width: calc(50vw - 299px);
}

.frame-8 {
    border: 20px solid;
    border-image: linear-gradient(to left, #4568dc, #b06ab3);
    border-image-slice: 1;
    top: 160px;
    bottom: 160px;
    left: 160px;
    width: calc(50vw - 339px);
}

.frame-9 {
    border: 20px solid;
    border-image: linear-gradient(to left, #43c6ac, #f8ffae);
    border-image-slice: 1;
    top: 180px;
    bottom: 180px;
    left: 180px;
    width: calc(50vw - 379px);
}

.frame-10 {
    border: 20px solid;
    border-image: linear-gradient(to left, #ffafbd, #ffc3a0);
    border-image-slice: 1;
    top: 200px;
    bottom: 200px;
    left: 200px;
    width: calc(50vw - 419px);
}

.frame-11 {
    border: 20px solid;
    border-image: linear-gradient(to left, #ee0979, #ff6a00);
    border-image-slice: 1;
    top: 220px;
    bottom: 220px;
    left: 220px;
    width: calc(50vw - 459px);
}

.frame-12 {
    border: 20px solid;
    border-image: linear-gradient(to right, #00c3ff, #ffff1c);
    border-image-slice: 1;
    top: 240px;
    bottom: 240px;
    left: 240px;
    width: calc(50vw - 499px);
}

.frame-13 {
    border: 20px solid;
    border-image: linear-gradient(to left, #11998e, #38ef7d);
    border-image-slice: 1;
    top: 260px;
    bottom: 260px;
    left: 260px;
    width: calc(50vw - 539px);
}

.frame-14 {
    border: 20px solid;
    border-image: linear-gradient(to left, #eb3349, #f45c43);
    border-image-slice: 1;
    top: 280px;
    bottom: 280px;
    left: 280px;
    width: calc(50vw - 579px);
}

.frame-15 {
    border: 20px solid;
    border-image: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
    border-image-slice: 1;
    top: 300px;
    bottom: 300px;
    left: 300px;
    width: calc(50vw - 619px);
}

.frame-16 {
    border: 20px solid;
    border-image: linear-gradient(to left, #da22ff, #9733ee);
    border-image-slice: 1;
    top: 320px;
    bottom: 320px;
    left: 320px;
    width: calc(50vw - 659px);
}

  .frame-17 {
    border: 20px solid;
    border-image: linear-gradient(to left, #ff8008, #ffc837);
    border-image-slice: 1;
    top: 340px;
    bottom: 340px;
    left: 340px;
    width: calc(50vw - 699px);
  }


// HOMEPAGE - FRAME WIDTH MEDIA QUERIES //

// @media screen and (max-width: 1510px) {
//     .frame-16 {
//       display: none;
//     }
//   }

@media screen and (max-width: 1430px) {
    .frame-15 {
        display: none;
    }
}

@media screen and (max-width: 1370px) {
    .frame-14 {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    .frame-13 {
        display: none;
    }
}

@media screen and (max-width: 1180px) {
    .frame-12 {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .frame-11 {
        display: none;
    }
}

@media screen and (max-width: 1010px) {
    .frame-10 {
        display: none;
    }
}

@media screen and (max-width: 935px) {
    .frame-9 {
        display: none;
    }
}

@media screen and (max-width: 855px) {
    .frame-8 {
        display: none;
    }
}

@media screen and (max-width: 775px) {
    .frame-7 {
        display: none;
    }
}

@media screen and (max-width: 685px) {
    .frame-6 {
        display: none;
    }
}

@media screen and (max-width: 605px) {
    .frame-5 {
        display: none;
    }
}

@media screen and (max-width: 525px) {
    .frame-4 {
        display: none;
    }
}

@media screen and (max-width: 445px) {
    .frame-3 {
        display: none;
    }
}

@media screen and (max-width: 365px) {
    .frame-2 {
        display: none;
    }
}

// HOMEPAGE - FRAME HEIGHT MEDIA QUERIES //

@media screen and (max-height: 725px) {
    .frame-16 {
      display: none;
    }
  }

@media screen and (max-height: 685px) {
    .frame-15 {
        display: none;
    }
}

@media screen and (max-height: 645px) {
    .frame-14 {
        display: none;
    }
}

@media screen and (max-height: 605px) {
    .frame-13 {
        display: none;
    }
}

@media screen and (max-height: 565px) {
    .frame-12 {
        display: none;
    }
}

@media screen and (max-height: 525px) {
    .frame-11 {
        display: none;
    }
}

@media screen and (max-height: 485px) {
    .frame-10 {
        display: none;
    }
}

@media screen and (max-height: 445px) {
    .frame-9 {
        display: none;
    }
}

@media screen and (max-height: 405px) {
    .frame-8 {
        display: none;
    }
}

@media screen and (max-height: 365px) {
    .frame-7 {
        display: none;
    }
}

@media screen and (max-height: 325px) {
    .frame-6 {
        display: none;
    }
}

@media screen and (max-height: 285px) {
    .frame-5 {
        display: none;
    }
}

@media screen and (max-height: 245px) {
    .frame-4 {
        display: none;
    }
}

@media screen and (max-height: 220px) {
    .frame-3 {
        display: none;
    }
}

@media screen and (max-height: 180px) {
    .frame-2 {
        display: none;
    }
}

// --- PROJECTS FRAMES --- //

.projects-frame-0 {
    border: 20px solid;
    border-image: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
    border-image-slice: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    &:hover {
        border-width: 40px;
    }
    &:hover + div {
        opacity: 0;
    }
}

.projects-frame-1 {
    border: 20px solid;
    border-image: linear-gradient(to right, #aa076b, #61045f);
    border-image-slice: 1;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: -1;
    opacity: 0.8;
    &:hover {
        border-width: 40px;
    }
}

// --- CONTACT FRAMES --- //

.contact-frame-0 {
    border: 20px solid;
    border-image: linear-gradient(to right, #e65c00, #f9d423);
    border-image-slice: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;
    &:hover {
        border-width: 40px;
    }
    &:hover + div {
        opacity: 0;
    }
}

.contact-frame-1 {
    border: 20px solid;
    border-image: linear-gradient(to right, #acb6e5, #86fde8);
    border-image-slice: 1;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: -1;
    opacity: 0.8;
    &:hover {
        border-width: 40px;
    }
}