<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Oh No | Steven Remenapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm a public librarian dy day and learning web development by night. Come say hi and check out what I'm working on.">
    <meta name="author" content="Steven Remenapp">
    <meta name ="keywords" content="Steven Remenapp,librarian,libraries,web development,web developer,software development">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/frames.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.min.css" />
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="interior-page-body">
    <div class="frame contact-frame-0"></div>
    <div class="frame contact-frame-1"></div>
    <div class="cntr">
        <h1 class="contact-header">
            <span class="animation-letter">O</span>
            <span class="animation-letter">O</span>
            <span class="animation-letter">P</span>
            <span class="animation-letter">S</span>
        </h1>
        <div class="menu-icon" tabindex="0">
            <svg viewBox="0 0 40 40" id="menu-icon-open">
                <rect id="menu-top" x="5" y="7.5" width="30" height="5" fill="#000" />
                <rect id="menu-middle" x="5" y="17.5" width="30" height="5" fill="#000" />
                <rect id="menu-bottom" x="5" y="27.5" width="30" height="5" fill="#000" />
            </svg>
            </div>
            <div class="menu-closed-icon" tabindex="0">
                <svg viewBox="0 0 40 40">
                    <rect class="menu-closed-x" x="22" y="17.5" width="12" height="5" transform="rotate(45 20 20)" fill="#000"/>
                    <rect class="menu-closed-x" x="22" y="18" width="12" height="5" transform="rotate(135 20 20)" fill="#000" />
                    <rect class="menu-closed-x" x="22" y="18" width="12" height="5" transform="rotate(225 20 20)" fill="#000" />
                    <rect class="menu-closed-x" x="22" y="17.5" width="12" height="5" transform="rotate(315 20 20)" fill="#000" />
                    <rect x="17.5" y="17.5" width="5" height="5" transform="rotate(315 20 20)" fill="#000" />
                </svg>
            </div>
            <nav class="menu">
                <a href="/" class='animated-link'>Home</a>
                <a href="projects" class='animated-link'>Projects</a>
                <a href="contact" class='animated-link'>Contact</a>
                <!-- <p>Credits</p> -->
                <!-- <p>Cluedo</p> -->
            </nav>
            <div class="menu-overlay"></div>
        <div class="contact-widget">
            <div class="home contact-widget">
                <i class="fas fa-bullhorn"></i>
                <i class="fas fa-times"></i>
            </div>
            <div class="email contact-widget">
                <a href="mailto:remenapp@gmail.com?Subject=Helloooooo">
                    <div class="tooltip left">
                        <i class="far fa-envelope"></i>
                        <span class="tooltip-content">Email me</span>
                    </div>
                </a>
            </div>
            <div class="github contact-widget">
                <a href="https://github.com/stevenremenapp" target="_blank" rel="noopener noreferrer">
                    <div class="tooltip left">
                        <i class="fab fa-github"></i>
                        <span class="tooltip-content">Github</span>
                    </div>
                </a>
            </div>
            <div class="linkedin contact-widget">
                <a href="https://www.linkedin.com/in/stevenremenapp/" target="_blank" rel="noopener noreferrer">
                    <div class="tooltip left">
                        <i class="fab fa-linkedin"></i>
                        <span class="tooltip-content">LinkedIn</span>
                    </div>
                </a>
            </div>
        </div>
        <main class="message-box">
            <img src="images/gifs/cat-fall.gif" alt="Gif of a cat jumping toward kitchen table, but falling and while falling grabbing plates off the table and dragging them down too.">
            <p>Oh no, it looks like something has gone wrong. Please try to <a href="contact" class="animated-link-contact-error">contact me via the form again</a>, or try the contact widget at the bottom right of the page. Thanks!</p>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="scripts/main.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132851708-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132851708-1');
    </script>
</body>
</html>