<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome! | Steven Remenapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/frames.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <main>
        <div class="hero-container">
            <div class="hero-left">
                <div class="frame frame-0"></div>
                <div class="frame frame-1"></div>
                <div class="frame frame-2"></div>
                <div class="frame frame-3"></div>
                <div class="frame frame-4"></div>
                <div class="frame frame-5"></div>
                <div class="frame frame-6"></div>
                <div class="frame frame-7"></div>
                <div class="frame frame-8"></div>
                <div class="frame frame-9"></div>
                <div class="frame frame-10"></div>
                <div class="frame frame-11"></div>
                <div class="frame frame-12"></div>
                <div class="frame frame-13"></div>
                <div class="frame frame-14"></div>
                <div class="frame frame-15"></div>
                <div class="frame frame-16"></div>
                <!-- <div class="frame frame-17"></div> -->
                <h1>
                    <span class="animation-letter">S</span>
                    <span class="animation-letter">T</span>
                    <span class="animation-letter">E</span>
                    <span class="animation-letter">V</span>
                    <span class="animation-letter">E</span>
                    <span class="animation-letter">N</span>
                    <br>
                    <span class="animation-letter">R</span>
                    <span class="animation-letter">E</span>
                    <span class="animation-letter">M</span>
                    <span class="animation-letter">E</span>
                    <span class="animation-letter">N</span>
                    <span class="animation-letter">A</span>
                    <span class="animation-letter">P</span>
                    <span class="animation-letter">P</span>
                </h1>
            </div>
            <div class="hero-right">
                <div class="frame mobile-frame-0"></div>
                <div class="frame mobile-frame-1"></div>
                <div class="menu-icon" tabindex="0">
                    <svg viewBox="0 0 40 40" id="menu-icon-open">
                        <rect id="menu-top" x="5" y="7.5" width="30" height="5" fill="#000" />
                        <rect id="menu-middle" x="5" y="17.5" width="30" height="5" fill="#000" />
                        <rect id="menu-bottom" x="5" y="27.5" width="30" height="5" fill="#000" />
                    </svg>
                </div>
                <div class="menu-closed-icon">
                    <svg viewBox="0 0 40 40">
                        <rect class="menu-closed-x" x="22" y="17.5" width="12" height="5" transform="rotate(45 20 20)" fill="#000"/>
                        <rect class="menu-closed-x" x="22" y="18" width="12" height="5" transform="rotate(135 20 20)" fill="#000" />
                        <rect class="menu-closed-x" x="22" y="18" width="12" height="5" transform="rotate(225 20 20)" fill="#000" />
                        <rect class="menu-closed-x" x="22" y="17.5" width="12" height="5" transform="rotate(315 20 20)" fill="#000" />
                        <rect x="17.5" y="17.5" width="5" height="5" transform="rotate(315 20 20)" fill="#000" />
                    </svg>
                </div>
                <div class="menu">
                    <a href="index"><p>Home</p></a>
                    <!-- <p>About</p> -->
                    <a href="projects"><p>Projects</p></a>
                    <a href="contact"><p>Contact</p></a>
                    <p>Credits</p>
                    <!-- <p>Cluedo</p> -->
                </div>
                <div class="contact-widget">
                    <div class="home">
                        <i class="fas fa-bullhorn"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="email">
                        <a href="mailto:remenapp@gmail.com?Subject=Helloooooo">
                            <div class="tooltip left">
                                <i class="far fa-envelope"></i>
                                <span class="tooltip-content">Email me</span>
                            </div>
                        </a>
                    </div>
                    <div class="github">
                        <a href="https://github.com/stevenremenapp" target="_blank" rel="noopener noreferrer">
                            <div class="tooltip left">
                                <i class="fab fa-github"></i>
                                <span class="tooltip-content">Github</span>
                            </div>
                        </a>
                    </div>
                    <div class="linkedin">
                        <a href="https://www.linkedin.com/in/stevenremenapp/" target="_blank" rel="noopener noreferrer">
                            <div class="tooltip left">
                                <i class="fab fa-linkedin"></i>
                                <span class="tooltip-content">LinkedIn</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="homepage-text">
                    <h1>
                        <span class="animation-letter">S</span>
                        <span class="animation-letter">T</span>
                        <span class="animation-letter">E</span>
                        <span class="animation-letter">V</span>
                        <span class="animation-letter">E</span>
                        <span class="animation-letter">N</span>
                        <br>
                        <span class="animation-letter">R</span>
                        <span class="animation-letter">E</span>
                        <span class="animation-letter">M</span>
                        <span class="animation-letter">E</span>
                        <span class="animation-letter">N</span>
                        <span class="animation-letter">A</span>
                        <span class="animation-letter">P</span>
                        <span class="animation-letter">P</span>
                    </h1>
                    <p class="intro-statement-text">
                        Hey there. I'm a public librarian by day and learning web development with the help of <a href="https://www.shiftup.tech/" target="_blank" rel="noopener noreferrer">Shift_Up</a> by night. I am sometimes <a href="projects.html">able to combine these</a>.
                    </p>
                    <div class="work-history-text">
                        <p>In the past, I've worked &mdash;</p>
                        <p>&mdash; in customer service ranging from cashier and stocker to grade-school tutor and Family Medical Leave Act case worker, where I developed my ability and desire to help others.</p>
                        <p>&mdash; in academic libraries, where I learned to love instruction and instructional design, sustainability and documentation, and witnessed software developers making quality products that improved students' lives.</p>
                        <p>&mdash; in public libraries, where I learned about meeting communities and individuals where they are, just how restricting poor web experiences can be for both staff and library users, and that I want to make web apps and software for public librarians.</p>
                        <p>I'd love to talk with you about web development, possible work and collaboration, libraries, Clue, or whatever you want to nerd out about &mdash; please feel free to get in touch.</p>
                    </div>
                </div>
                </div>
            <div class="menu-overlay"></div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>