@font-face {
  font-family: 'DDCHardware';
  src: url("/fonts/ddchardware-regular-webfont.woff2") format("woff2"), url("/fonts/ddchardware-regular-webfont.woff") format("woff"), url("/fonts/ddchardware-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.frame {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
}

.mobile-frame-0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 20px solid;
  -o-border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
     border-image: -webkit-gradient(linear, right top, left top, from(#61c69d), to(#2d72bc));
     border-image: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-image-slice: 1;
  z-index: -1;
  display: none;
}

.mobile-frame-1 {
  border: 20px solid;
  -o-border-image: linear-gradient(to right, #b861c6 0%, #ffc7c7 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#b861c6), to(#ffc7c7));
     border-image: linear-gradient(to right, #b861c6 0%, #ffc7c7 100%);
  border-image-slice: 1;
  top: 20px;
  bottom: 20px;
  left: 20px;
  width: calc(100vw - 39px);
  z-index: -1;
  display: none;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#ece9e6), to(#ffffff));
  background: linear-gradient(to right, #ece9e6, #ffffff);
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.hero-left {
  width: 50vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-left h1 {
  position: fixed;
  color: #000;
  font-family: 'DDCHardware', sans-serif;
  font-size: 90px;
  margin: 0;
  z-index: 2;
  letter-spacing: -13px;
  line-height: 0.8;
  -webkit-animation: nameGrow 3s;
          animation: nameGrow 3s;
}

.hero-left h1 span {
  display: inline-block;
}

.hero-left *:hover {
  border-width: 40px;
}

.hero-left *:hover + div {
  opacity: 0;
}

.hero-right {
  width: 50vw;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  margin: auto;
}

.animated-link {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  -webkit-box-shadow: 0px -3px 0px 0px pink inset;
          box-shadow: 0px -3px 0px 0px pink inset;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  padding: 3px;
}

.animated-link:hover {
  -webkit-box-shadow: 0px -26px 0px 0px pink inset;
          box-shadow: 0px -26px 0px 0px pink inset;
}

.animated-link:active {
  -webkit-box-shadow: 0px -26px 0px 0px #ff5a77 inset;
          box-shadow: 0px -26px 0px 0px #ff5a77 inset;
}

.animated-link.home {
  display: inline;
  color: #000;
  text-decoration: none;
  -webkit-box-shadow: 0px -3px 0px 0px #61c69d inset;
          box-shadow: 0px -3px 0px 0px #61c69d inset;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  padding: 3px;
}

.animated-link.home:hover {
  -webkit-box-shadow: 0px -26px 0px 0px #61c69d inset;
          box-shadow: 0px -26px 0px 0px #61c69d inset;
}

.animated-link.home:active {
  -webkit-box-shadow: 0px -26px 0px 0px #3ca77c inset;
          box-shadow: 0px -26px 0px 0px #3ca77c inset;
}

.animated-link-projects-display {
  text-decoration: none;
  -webkit-box-shadow: 0px -8px 0px 0px #9B3582 inset;
          box-shadow: 0px -8px 0px 0px #9B3582 inset;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 3px;
}

.animated-link-projects-display:hover {
  color: #fff;
  -webkit-box-shadow: 0px -32px 0px 0px #9B3582 inset;
          box-shadow: 0px -32px 0px 0px #9B3582 inset;
}

.animated-link-projects-display:active {
  -webkit-box-shadow: 0px -32px 0px 0px #61045f inset;
          box-shadow: 0px -32px 0px 0px #61045f inset;
}

.animated-link-project-desc {
  position: relative;
  border-radius: 0;
  color: #000;
  text-decoration: none;
  -webkit-box-shadow: 0px -3px 0px 0px #fff inset;
          box-shadow: 0px -3px 0px 0px #fff inset;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  padding: 3px;
  overflow: hidden;
}

.animated-link-project-desc:after {
  position: absolute;
  content: '';
  right: -2px;
  height: 21.5px;
  width: 2px;
  background: rgba(237, 39, 255, 0.9);
}

.animated-link-project-desc:hover {
  -webkit-box-shadow: 0px -26px 0px 0px #fff inset;
          box-shadow: 0px -26px 0px 0px #fff inset;
}

.animated-link-project-desc:active {
  -webkit-box-shadow: 0px -26px 0px 0px #ddd inset;
          box-shadow: 0px -26px 0px 0px #ddd inset;
}

.menu-icon {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 40px;
  right: 40px;
  opacity: 0.8;
  z-index: 10;
}

.menu-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.menu-closed-icon {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  top: 40px;
  right: 40px;
  background: pink;
  z-index: 15;
}

.menu-closed-icon:hover {
  cursor: pointer;
}

.menu-overlay {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 58px;
  right: 62px;
  background: #fff;
  border: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu.open {
  padding: 5px 20px;
  -webkit-animation: open 0.2s ease-in-out forwards;
          animation: open 0.2s ease-in-out forwards;
}

.menu.close {
  -webkit-animation: close 0.2s ease-in-out forwards;
          animation: close 0.2s ease-in-out forwards;
}

@-webkit-keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 225px;
    height: 325px;
  }
  100% {
    width: 200px;
    height: 300px;
  }
}

@keyframes open {
  0% {
    width: 0;
    height: 0;
  }
  70% {
    width: 225px;
    height: 325px;
  }
  100% {
    width: 200px;
    height: 300px;
  }
}

@-webkit-keyframes close {
  0% {
    width: 200px;
    height: 300px;
  }
  30% {
    width: 225px;
    height: 325px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes close {
  0% {
    width: 200px;
    height: 300px;
  }
  30% {
    width: 225px;
    height: 325px;
  }
  100% {
    width: 0;
    height: 0;
  }
}

.contact-widget {
  position: fixed;
  bottom: 42px;
  right: 42px;
  width: 60px;
  height: 60px;
  z-index: 3;
}

.contact-widget:hover {
  cursor: pointer;
}

.contact-widget i {
  color: #fff;
}

.contact-widget .home {
  position: fixed;
  bottom: 42px;
  right: 42px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  opacity: 0.85;
  background: -webkit-gradient(linear, right top, left top, from(#61c69d), to(#2d72bc));
  background: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-widget .home:hover {
  opacity: 1;
}

.contact-widget .home i.fa-times {
  display: none;
}

.contact-widget .home.active {
  background: -webkit-gradient(linear, left top, right top, from(#b861c6), to(#ffc7c7));
  background: linear-gradient(to right, #b861c6 0%, #ffc7c7 100%);
}

.contact-widget .home.active i.fa-bullhorn {
  display: none;
}

.contact-widget .home.active i.fa-times {
  display: block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}

.contact-widget .email {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 42px;
  right: 42px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#61c69d), to(#2d72bc));
  background: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-widget .email.active {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  opacity: 0.85;
  visibility: visible;
}

.contact-widget .email.active:hover {
  opacity: 1;
}

.contact-widget .github {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 42px;
  right: 42px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 34px;
  background: -webkit-gradient(linear, right top, left top, from(#61c69d), to(#2d72bc));
  background: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-widget .github.active {
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
  opacity: 0.85;
  visibility: visible;
}

.contact-widget .github.active:hover {
  opacity: 1;
}

.contact-widget .linkedin {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 42px;
  right: 42px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#61c69d), to(#2d72bc));
  background: linear-gradient(to left, #61c69d 0%, #2d72bc 100%);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-widget .linkedin.active {
  -webkit-transform: translateY(-210px);
          transform: translateY(-210px);
  visibility: visible;
  opacity: 0.85;
}

.contact-widget .linkedin.active:hover {
  opacity: 1;
}

.home.projects-widget,
.email.projects-widget,
.github.projects-widget,
.linkedin.projects-widget {
  background: -webkit-gradient(linear, right top, left top, from(#2e98bc), to(#c66262));
  background: linear-gradient(to left, #2e98bc 0%, #c66262 100%);
}

.home.active.projects-widget {
  background: -webkit-gradient(linear, left top, right top, from(#aa076b), to(#61045f));
  background: linear-gradient(to right, #aa076b, #61045f);
}

.home.contact-widget,
.email.contact-widget,
.github.contact-widget,
.linkedin.contact-widget {
  background: -webkit-gradient(linear, left top, right top, from(#e65c00), to(#f9d423));
  background: linear-gradient(to right, #e65c00, #f9d423);
}

.home.active.contact-widget {
  background: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#86fde8));
  background: linear-gradient(to right, #acb6e5, #86fde8);
}

.home.four04-widget,
.email.four04-widget,
.github.four04-widget,
.linkedin.four04-widget {
  background: -webkit-gradient(linear, right top, left top, from(#da22ff), to(#9733ee));
  background: linear-gradient(to left, #da22ff, #9733ee);
}

.home.active.four04-widget {
  background: -webkit-gradient(linear, right top, left top, from(#1fa2ff), color-stop(#12d8fa), to(#a6ffcb));
  background: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltip-content {
  cursor: default;
  opacity: 0.95;
}

.tooltip:hover .tooltip-content:hover {
  opacity: 0;
}

.tooltip .tooltip-content {
  z-index: 10;
  background: #343633;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
  min-width: 100px;
  min-height: 30px;
  text-align: center;
  padding: 5px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tooltip .tooltip-content::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #343633;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.tooltip.left .tooltip-content {
  right: calc(100% + 22px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tooltip.left .tooltip-content::after {
  right: -24px;
  margin-top: -10px;
  top: 50%;
}

.homepage-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  width: 80%;
  font-size: 16px;
}

.homepage-text h1 {
  display: none;
  position: relative;
  top: -8px;
  left: -12px;
  color: #000;
  font-family: 'DDCHardware', sans-serif;
  font-size: 46px;
  letter-spacing: -7.5px;
  line-height: 0.8;
  -webkit-animation: nameGrow 3s;
          animation: nameGrow 3s;
}

.homepage-text h1 span {
  display: inline-block;
}

.homepage-text p {
  margin-bottom: 2rem;
  letter-spacing: 1px;
  line-height: 1.3;
}

.intro-statement-text {
  font-weight: 600;
  font-size: 20px;
}

@-webkit-keyframes nameGrow {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes nameGrow {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.85;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes nameLetterAnimation {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(30deg);
            transform: translateY(-20px) rotate(30deg);
  }
  60% {
    -webkit-transform: translateY(-20px) rotate(-30deg);
            transform: translateY(-20px) rotate(-30deg);
  }
  70% {
    -webkit-transform: translateY(-10px) rotate(30deg);
            transform: translateY(-10px) rotate(30deg);
  }
  80% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes nameLetterAnimation {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(30deg);
            transform: translateY(-20px) rotate(30deg);
  }
  60% {
    -webkit-transform: translateY(-20px) rotate(-30deg);
            transform: translateY(-20px) rotate(-30deg);
  }
  70% {
    -webkit-transform: translateY(-10px) rotate(30deg);
            transform: translateY(-10px) rotate(30deg);
  }
  80% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

.animatedLetter {
  -webkit-animation: nameLetterAnimation 3s;
          animation: nameLetterAnimation 3s;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideOutToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideOutToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.interior-page-body {
  width: calc(100vw - 100px);
  margin: 40px auto;
}

.cntr {
  text-align: center;
  overflow: hidden;
  margin: 0 -3px;
}

.cntr .project-header {
  font-family: 'DDCHardware', sans-serif;
  font-size: 90px;
  display: inline-block;
  margin: 30px auto 0 auto;
  letter-spacing: -13px;
  line-height: 0.8;
  -webkit-animation: nameGrow 3s;
          animation: nameGrow 3s;
}

.cntr .project-header span {
  display: inline-block;
}

.cntr .project-header:after {
  content: '';
  display: block;
  position: relative;
  width: 102%;
  border-bottom: 20px solid;
  -o-border-image: linear-gradient(to right, #aa076b, #61045f);
     border-image: -webkit-gradient(linear, left top, right top, from(#aa076b), to(#61045f));
     border-image: linear-gradient(to right, #aa076b, #61045f);
  border-image-slice: 1;
  z-index: -2;
  margin-top: -17px;
  margin-left: 3px;
  opacity: 0.8;
}

.cntr .contact-header {
  font-family: 'DDCHardware', sans-serif;
  font-size: 90px;
  display: inline-block;
  margin: 30px auto 0 auto;
  letter-spacing: -13px;
  line-height: 0.8;
  -webkit-animation: nameGrow 3s;
          animation: nameGrow 3s;
}

.cntr .contact-header span {
  display: inline-block;
}

.cntr .contact-header:after {
  content: '';
  display: block;
  position: relative;
  width: 102%;
  border-bottom: 20px solid;
  -o-border-image: linear-gradient(to right, #acb6e5, #86fde8);
     border-image: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#86fde8));
     border-image: linear-gradient(to right, #acb6e5, #86fde8);
  border-image-slice: 1;
  z-index: -2;
  margin-top: -17px;
  margin-left: 3px;
  opacity: 0.8;
}

.cntr .four04-header {
  font-family: 'DDCHardware', sans-serif;
  font-size: 90px;
  display: inline-block;
  margin: 30px auto 0 auto;
  letter-spacing: -13px;
  line-height: 0.8;
  -webkit-animation: nameGrow 3s;
          animation: nameGrow 3s;
}

.cntr .four04-header span {
  display: inline-block;
}

.cntr .four04-header:after {
  content: '';
  display: block;
  position: relative;
  width: 102%;
  border-bottom: 20px solid;
  -o-border-image: linear-gradient(to left, #da22ff, #9733ee);
     border-image: -webkit-gradient(linear, right top, left top, from(#da22ff), to(#9733ee));
     border-image: linear-gradient(to left, #da22ff, #9733ee);
  border-image-slice: 1;
  z-index: -2;
  margin-top: -17px;
  margin-left: 3px;
  opacity: 0.8;
}

.cntr h2 {
  font-family: 'Montserrat', sans-serif;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#library-projects,
#non-library-projects {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

#library-projects.showProjects {
  -webkit-animation: slideInFromLeft 1s forwards;
          animation: slideInFromLeft 1s forwards;
}

#library-projects.hideProjects {
  -webkit-animation: slideOutToLeft 1s forwards;
          animation: slideOutToLeft 1s forwards;
}

#non-library-projects.showProjects {
  -webkit-animation: slideOutToLeft 1s forwards;
          animation: slideOutToLeft 1s forwards;
}

#non-library-projects.hideProjects {
  -webkit-animation: slideInFromLeft 1s forwards;
          animation: slideInFromLeft 1s forwards;
}

.projects-display-option {
  overflow: hidden;
  text-align: center;
  margin: 50px 155px;
}

.projects-display-option span {
  position: relative;
}

.projects-display-option span:hover {
  cursor: pointer;
}

.projects-display-option span:before, .projects-display-option span:after {
  content: '';
  position: absolute;
  z-index: -2;
  width: 325px;
  top: 50%;
  margin-top: -2.5px;
}

.projects-display-option span:before {
  border-bottom: 6px solid;
  -o-border-image: linear-gradient(to right, #aa076b, #9B3582);
     border-image: -webkit-gradient(linear, left top, right top, from(#aa076b), to(#9B3582));
     border-image: linear-gradient(to right, #aa076b, #9B3582);
  border-image-slice: 1;
  right: 100%;
  margin-right: 15px;
}

.projects-display-option span:after {
  border-bottom: 6px solid;
  -o-border-image: linear-gradient(to right, #9B3582, #61045f);
     border-image: -webkit-gradient(linear, left top, right top, from(#9B3582), to(#61045f));
     border-image: linear-gradient(to right, #9B3582, #61045f);
  border-image-slice: 1;
  left: 100%;
  margin-left: 15px;
}

.projects-display-option span:first-of-type:after {
  display: none;
}

.projects-display-option span:last-of-type:before {
  display: none;
}

.project-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  max-width: 1000px;
  max-height: 700px;
  margin: 0 auto 75px auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.project-grid-container:after {
  content: '';
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4 / 11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  border-radius: 12px;
  z-index: -3;
  -webkit-box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.project-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / 7;
}

.project-image img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  max-height: 425px;
  -webkit-box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.project-title {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4 / 11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background: rgba(255, 238, 0, 0.9);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-title h3 {
  margin: 0;
  font-size: 26px;
}

.project-desc {
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-column: 3 / 10;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5 / 9;
  background: rgba(237, 39, 255, 0.9);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 20px;
  padding-bottom: 2.5px;
  -webkit-box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
}

.project-desc p {
  margin: 0;
  line-height: 1.4;
}

.project-desc .icons {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: -25px;
  margin-top: 10px;
  width: 90px;
  height: 40px;
}

.project-desc .icons a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.project-desc .icons a:hover {
  color: #fff;
}

.project-desc .icons i {
  height: 40px;
  width: 40px;
  font-size: 35px;
}

.project-desc .icons i + i {
  height: 40px;
  width: 40px;
  font-size: 30px;
}

form,
.message-box {
  max-width: 500px;
  padding: 50px;
  margin: 40px auto 70px auto;
  background: #f4f4f4;
  border: 5px solid;
  -o-border-image: linear-gradient(to right, #e65c00, #f9d423);
     border-image: -webkit-gradient(linear, left top, right top, from(#e65c00), to(#f9d423));
     border-image: linear-gradient(to right, #e65c00, #f9d423);
  border-image-slice: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

form div,
.message-box div {
  text-align: center;
  position: relative;
}

form label,
.message-box label {
  display: block;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: -2px;
  left: 40px;
}

form input,
form textarea,
.message-box input,
.message-box textarea {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 20px auto;
  border-width: 5px;
  -o-border-image: linear-gradient(to right, #acb6e5, #86fde8);
     border-image: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#86fde8));
     border-image: linear-gradient(to right, #acb6e5, #86fde8);
  border-image-slice: 1;
  padding: 10px;
}

form input:focus + label,
form textarea:focus + label,
.message-box input:focus + label,
.message-box textarea:focus + label {
  -webkit-animation: chaos 0.2s infinite;
          animation: chaos 0.2s infinite;
}

form button,
.message-box button {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  padding: 14px;
  border-width: 5px;
  -o-border-image: linear-gradient(to right, #acb6e5, #86fde8);
     border-image: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#86fde8));
     border-image: linear-gradient(to right, #acb6e5, #86fde8);
  border-image-slice: 1;
  cursor: pointer;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

form button:hover, form button:focus,
.message-box button:hover,
.message-box button:focus {
  background: #ddd;
  -webkit-animation: chaos 0.2s infinite;
          animation: chaos 0.2s infinite;
}

form img,
.message-box img {
  border: 5px solid;
  -o-border-image: linear-gradient(to right, #acb6e5, #86fde8);
     border-image: -webkit-gradient(linear, left top, right top, from(#acb6e5), to(#86fde8));
     border-image: linear-gradient(to right, #acb6e5, #86fde8);
  border-image-slice: 1;
  max-width: 175px;
  display: block;
  margin: 0 auto;
}

form p,
.message-box p {
  margin-bottom: 0;
  line-height: 1.5;
}

form p .animated-link-contact-error,
.message-box p .animated-link-contact-error {
  color: #000;
  text-decoration: none;
  -webkit-box-shadow: 0px -3px 0px 0px #f9d423 inset;
          box-shadow: 0px -3px 0px 0px #f9d423 inset;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  padding: 3px;
}

form p .animated-link-contact-error:hover,
.message-box p .animated-link-contact-error:hover {
  -webkit-box-shadow: 0px -26px 0px 0px #f9d423 inset;
          box-shadow: 0px -26px 0px 0px #f9d423 inset;
}

form p .animated-link-contact-error:active,
.message-box p .animated-link-contact-error:active {
  -webkit-box-shadow: 0px -26px 0px 0px #e65c00 inset;
          box-shadow: 0px -26px 0px 0px #e65c00 inset;
}

@-webkit-keyframes chaos {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
  50% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  75% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes chaos {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
  50% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  75% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.cntr .cat-picture {
  width: 95%;
  height: auto;
  max-width: 600px;
  max-height: 450px;
  margin-top: 30px;
  border: 5px solid;
  -o-border-image: linear-gradient(to left, #da22ff, #9733ee);
     border-image: -webkit-gradient(linear, right top, left top, from(#da22ff), to(#9733ee));
     border-image: linear-gradient(to left, #da22ff, #9733ee);
  border-image-slice: 1;
}

.cntr .four04-text {
  max-width: 600px;
  margin: 30px auto;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

@media screen and (max-width: 1100px) {
  .hero-left h1 {
    font-size: 80px;
    letter-spacing: -11px;
  }
}

@media screen and (max-width: 935px) {
  .hero-left h1 {
    font-size: 70px;
    letter-spacing: -10px;
  }
  .projects-display-option {
    margin: 50px;
  }
  .project-grid-container {
    margin: 0 auto;
  }
  .project-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / 8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
  }
  .project-image img {
    width: 100%;
    height: 100%;
    max-height: 425px;
  }
  .project-title h3 {
    font-size: 22px;
  }
  .project-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4 / 8;
  }
}

@media screen and (max-width: 775px) {
  .hero-left h1 {
    font-size: 60px;
    letter-spacing: -8.5px;
  }
  .cntr {
    padding-left: 5px;
    padding-right: 5px;
  }
  .project-grid-container {
    margin: 0 auto 75px auto;
  }
  .project-grid-container:after {
    content: '';
    -ms-grid-column: 4;
    -ms-grid-column-span: 7;
    grid-column: 4 / 11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    border-radius: 12px;
    z-index: -3;
    -webkit-box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 35px 27px -20px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
  }
  .project-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
  }
  .project-image img {
    max-width: 100%;
    max-height: 100%;
  }
  .project-title h3 {
    font-size: 18px;
  }
  .project-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4 / 9;
  }
  .project-desc p {
    font-size: 14px;
  }
}

@media screen and (max-width: 685px) {
  .hero-left h1 {
    font-size: 50px;
    letter-spacing: -7.5px;
  }
  .cntr .project-header,
  .cntr .contact-header,
  .cntr .four04-header {
    font-size: 75px;
    letter-spacing: -11px;
  }
  .project-grid-container {
    -ms-grid-rows: (1fr)[10];
        grid-template-rows: repeat(10, 1fr);
  }
  .project-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1 / 10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6;
  }
  .project-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 7;
    grid-row: 4 / 11;
  }
}

@media screen and (max-width: 565px) {
  .hero-left {
    display: none;
  }
  .hero-right {
    width: 100vw;
  }
  .hero-right .mobile-frame-0,
  .hero-right .mobile-frame-1 {
    display: block;
  }
  .hero-right .homepage-text {
    width: 70vw;
  }
  .hero-right .homepage-text h1 {
    display: block;
  }
  .cntr .project-header,
  .cntr .contact-header,
  .cntr .four04-header {
    font-size: 65px;
    letter-spacing: -10px;
  }
  .project-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2 / 9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .project-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
  }
  .project-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 7;
    grid-row: 4 / 11;
  }
  form,
  .message-box {
    padding: 50px 10px;
  }
}

@media screen and (max-width: 515px) {
  .cntr {
    text-align: left;
  }
  .cntr .project-header,
  .cntr .contact-header,
  .cntr .four04-header {
    text-align: left;
    font-size: 40px;
    margin: 5px auto 0 auto;
    letter-spacing: -6px;
    padding-left: 3px;
  }
  .cntr .project-header:after,
  .cntr .contact-header:after,
  .cntr .four04-header:after {
    border-bottom: 10px solid;
    margin-top: -7px;
    margin-left: 1px;
  }
  .cntr h2 {
    font-size: 18px;
  }
  .project-grid-container {
    -ms-grid-rows: (1fr)[17];
        grid-template-rows: repeat(17, 1fr);
    padding: 20px 5px;
    margin: 0 auto 35px auto;
    max-height: 1000px;
  }
  .projects-display-option {
    margin: 50px 10px 30px 10px;
  }
  .project-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    text-align: center;
  }
  .project-title h3 {
    font-size: 16px;
  }
  .project-image {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1 / 7;
  }
  .project-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
    -ms-grid-row: 8;
    -ms-grid-row-span: 10;
    grid-row: 8 / 18;
  }
  form,
  .message-box {
    padding-top: 30px;
  }
  form label,
  .message-box label {
    left: 20px;
  }
  form button,
  .message-box button {
    width: 60%;
  }
}

@media screen and (max-width: 415px) {
  .cntr {
    padding-left: 5px;
    padding-right: 5px;
  }
  .project-grid-container {
    -ms-grid-rows: (1fr)[17];
        grid-template-rows: repeat(17, 1fr);
    max-height: 1050px;
  }
  .project-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / 10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    text-align: center;
  }
  .project-title h3 {
    font-size: 16px;
  }
  .project-image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1 / 5;
  }
  .project-desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / 11;
    -ms-grid-row: 6;
    -ms-grid-row-span: 12;
    grid-row: 6 / 18;
  }
  form,
  .message-box {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */