body {
  background: pink;
  font-family: 'Montserrat', sans-serif; }

ul {
  background: yellow; }
  ul li {
    background: #000;
    color: #fff; }
  ul ul li {
    background: rebeccapurple; }

img {
  width: 600px;
  height: auto; }
